<launch>
  <arg name="use_px4_initial_alignment" default="false"/>
  <arg name="publish_mavros_vision_pose" default="true"/>
  <arg name="enable_semantic" default="false"/>
  <arg name="enable_goal_navigation" default="true"/>
  <arg name="registered_cloud_topic" default="/cloud_registered"/>
  <!-- Safety default: publish previews only. -->
  <arg name="enable_control" default="false"/>

  <include file="$(find fastlio_bridge)/launch/perception.launch">
    <arg name="use_px4_initial_alignment" value="$(arg use_px4_initial_alignment)"/>
    <arg name="publish_mavros_vision_pose" value="$(arg publish_mavros_vision_pose)"/>
    <arg name="enable_semantic" value="$(arg enable_semantic)"/>
    <arg name="registered_cloud_topic" value="$(arg registered_cloud_topic)"/>
  </include>
  <include file="$(find fastlio_bridge)/launch/avoidance.launch">
    <arg name="enable_control" value="$(arg enable_control)"/>
    <arg name="enable_goal_navigation" value="$(arg enable_goal_navigation)"/>
  </include>
</launch>
